.formulario {
  display: block;
  width: 100%;
}
.formGroup,
.formControl {
  width: inherit;
}
.formGroup {
  position: relative;
}
.formControl {
  appearance: none;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: none;
  font-size: 0.875rem;
}
.formControl:focus {
  border-radius: 0;
}
.formIcon {
  position: absolute;
  top: 0;
  left: 0.5rem;
  height: 100%;
}
.formIcon,
.formControl::placeholder {
  color: var(--colorPlaceHolder);
}
