@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --colorPrimary: #212121;
  --colorText: #ffffff;
  --colorTextAccent: #efefef;
  --colorAlt: #dfdfdf;
  --colorPlaceHolder: #909090;
  --colorLink: #4db4ff;

  --fontPrimary: "Roboto", sans-serif;
  --sizeBase: 16px;
  --lineH: 1.5;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --bold: 700;

  --lg: 2rem;
  --md: 1rem;
  --sm: 0.5rem;
  --xs: 0.25rem;

  --shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontPrimary);
  font-size: var(--sizeBase);
  line-height: var(--lineH);
  color: var(--colorPrimary);
}

img {
  width: 100%;
  display: block;
}
